body {
  margin: 0;
  padding: 0;
  font-family:  'Lato', 'Roboto', 'Segoe UI', -apple-system, BlinkMacSystemFont, sans-serif;
}
.nav {
  background-color: #282c34;
  min-height: 20vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.root {
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  /* border: 2px solid blue; */
}
.container-record {
  border: 2px solid green;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.record-table {
  display: flex;
  flex-direction: row;
}
.record-header {
  display: flex;
  flex-direction: row;
}
.record-data {
  display: flex;
  flex-direction: row;
}
.form-control {
  width: 100px;
}

.container-page {
  /* border: 2px solid red; */
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-around;
}
.container-division {
  /* border: 2px solid green; */
  width: 30vw;
  margin-top: 40px;
  border: 2px solid black;
  padding: 5px;
}
.container-record-game {
  /* border: 2px solid green; */
  width: 90vw;
  margin-top: 40px;
  border: 2px solid black;
  padding: 5px;
}
.division {
}

.division-name {
  /* border: 2px solid pink; */
  text-transform: capitalize;
  text-align: center;
  font-size: 1.3em;
  letter-spacing: .05em;
  font-weight: 800;
}

.division-header {
  /* border: 2px solid purple; */
  text-transform: capitalize;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0px 5px 0px;
  padding: 3px;
  font-weight: 600;
}

.division-data {
  /* border: 2px solid greenyellow; */
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: space-between;
  padding: 3px;
}

.player-name {
  width: 150px;
}

/* break points */
@media (max-width: 749px) {  
  .container-division {
    width: 95vw;
  }
 
}
@media (min-width: 1199px) {
  .container-division {
    width: 22vw;
  }
}
